.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.navigation-wrapper > .links-wrapper {
  height: 100%;
}

.navigation-wrapper > .links-wrapper > .nav-link,
.navigation-wrapper > .search-icon-wrapper > .nav-link {
  display: inline-block;
  padding: 15px 13px;
}

.navigation-wrapper > .search-icon-wrapper > .nav-link {
  height: 110%;
  width: 30px;
  text-align: center;
}

.navigation-wrapper > div > div:hover {
  color: black;
  background-color: #ccc;
}

.navigation-wrapper > .search-icon-wrapper > .nav-link:hover {
  background-color: red;
  color: white;
}
